# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# bin folder
bin

# fyne-cross folder
fyne-cross

# MacOS things
.DS_Store

fyslide
fyslide-cli
test/

# Fyne assets
assets/dice-32.png
assets/dice-disabled-24.xcf
assets/dice-disabled-32.png
assets/dice-disabled-32.xcf
assets/go-sign-24.png
assets/go-sign.png
assets/go-sign.svg
assets/go-sign.xcf
assets/sign-check.svg
assets/stop-sign-24.png
assets/stop-sign.png
assets/stop-sign.svg
assets/traffic-light.svg